In [1]:
import pandas as pd

# One Hot Encoding

In [6]:
df=pd.read_csv('titanic.csv',usecols=['Sex'])

In [7]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [9]:
pd.get_dummies(df,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [10]:
df=pd.read_csv('titanic.csv',usecols=['Embarked'])

In [11]:
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [13]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [14]:
df.dropna(inplace=True)

In [15]:
df['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [16]:
pd.get_dummies(df).head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [18]:
pd.get_dummies(df,drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

# One hot encoding with many categorical features

In [21]:
df=pd.read_csv('mercedes.csv')
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [22]:
df=pd.read_csv('mercedes.csv',usecols=['X0','X1','X2','X3','X4','X5','X6'])

In [23]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [26]:
for i in df.columns:
    print(len(df[i].unique()))

47
27
44
7
4
29
12

In [32]:
df.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [35]:
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)

In [37]:
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [38]:
import numpy as np
for cat in lst_10:
    df[cat]=np.where(df['X1']==cat,1,0)

In [39]:
df

      X0 X1  X2 X3 X4  X5 X6  aa  s  b  l  v  r  i  a  c  o
0      k  v  at  a  d   u  j   0  0  0  0  1  0  0  0  0  0
1      k  t  av  e  d   y  l   0  0  0  0  0  0  0  0  0  0
2     az  w   n  c  d   x  j   0  0  0  0  0  0  0  0  0  0
3     az  t   n  f  d   x  l   0  0  0  0  0  0  0  0  0  0
4     az  v   n  f  d   h  d   0  0  0  0  1  0  0  0  0  0
...   .. ..  .. .. ..  .. ..  .. .. .. .. .. .. .. .. .. ..
4204  ak  s  as  c  d  aa  d   0  1  0  0  0  0  0  0  0  0
4205   j  o   t  d  d  aa  h   0  0  0  0  0  0  0  0  0  1
4206  ak  v   r  a  d  aa  g   0  0  0  0  1  0  0  0  0  0
4207  al  r   e  f  d  aa  l   0  0  0  0  0  1  0  0  0  0
4208   z  r  ae  c  d  aa  g   0  0  0  0  0  1  0  0  0  0

[4209 rows x 17 columns]

In [40]:
df['X1']

0       v
1       t
2       w
3       t
4       v
       ..
4204    s
4205    o
4206    v
4207    r
4208    r
Name: X1, Length: 4209, dtype: object

In [42]:
lst_10.append('X1')

In [43]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]

# Ordinal Number encoding

In [1]:
import datetime

In [2]:
today_date=datetime.datetime.today()

In [3]:
today_date

datetime.datetime(2023, 4, 19, 5, 42, 53, 436574)

In [4]:
today_date-datetime.timedelta(1)

datetime.datetime(2023, 4, 18, 5, 42, 53, 436574)

In [5]:
today_date-datetime.timedelta(2)

datetime.datetime(2023, 4, 17, 5, 42, 53, 436574)

In [6]:
today_date-datetime.timedelta(3)

datetime.datetime(2023, 4, 16, 5, 42, 53, 436574)

In [8]:
#### List Comprehension
days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [9]:
days

[datetime.datetime(2023, 4, 19, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 18, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 17, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 16, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 15, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 14, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 13, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 12, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 11, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 10, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 9, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 8, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 7, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 6, 5, 42, 53, 436574),
 datetime.datetime(2023, 4, 5, 5, 42, 53, 436574)]

In [11]:
import pandas as pd
data=pd.DataFrame(days)
data.columns=['day']

In [12]:
data

                          day
0  2023-04-19 05:42:53.436574
1  2023-04-18 05:42:53.436574
2  2023-04-17 05:42:53.436574
3  2023-04-16 05:42:53.436574
4  2023-04-15 05:42:53.436574
5  2023-04-14 05:42:53.436574
6  2023-04-13 05:42:53.436574
7  2023-04-12 05:42:53.436574
8  2023-04-11 05:42:53.436574
9  2023-04-10 05:42:53.436574
10 2023-04-09 05:42:53.436574
11 2023-04-08 05:42:53.436574
12 2023-04-07 05:42:53.436574
13 2023-04-06 05:42:53.436574
14 2023-04-05 05:42:53.436574

In [15]:
data['day'].dt.year

0     2023
1     2023
2     2023
3     2023
4     2023
5     2023
6     2023
7     2023
8     2023
9     2023
10    2023
11    2023
12    2023
13    2023
14    2023
Name: day, dtype: int64

In [16]:
data['day'].dt.month

0     4
1     4
2     4
3     4
4     4
5     4
6     4
7     4
8     4
9     4
10    4
11    4
12    4
13    4
14    4
Name: day, dtype: int64

In [17]:
data['day'].dt.day

0     19
1     18
2     17
3     16
4     15
5     14
6     13
7     12
8     11
9     10
10     9
11     8
12     7
13     6
14     5
Name: day, dtype: int64

In [21]:
data['day'].dt.day_name()

0     Wednesday
1       Tuesday
2        Monday
3        Sunday
4      Saturday
5        Friday
6      Thursday
7     Wednesday
8       Tuesday
9        Monday
10       Sunday
11     Saturday
12       Friday
13     Thursday
14    Wednesday
Name: day, dtype: object

In [22]:
data['weekday']=data['day'].dt.day_name()
data.head()

                         day    weekday
0 2023-04-19 05:42:53.436574  Wednesday
1 2023-04-18 05:42:53.436574    Tuesday
2 2023-04-17 05:42:53.436574     Monday
3 2023-04-16 05:42:53.436574     Sunday
4 2023-04-15 05:42:53.436574   Saturday

In [23]:
dictionary={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7
    
    
}

In [24]:
dictionary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [25]:
data['weekday_ordinal']=data['weekday'].map(dictionary)

In [26]:
data

                          day    weekday  weekday_ordinal
0  2023-04-19 05:42:53.436574  Wednesday                3
1  2023-04-18 05:42:53.436574    Tuesday                2
2  2023-04-17 05:42:53.436574     Monday                1
3  2023-04-16 05:42:53.436574     Sunday                7
4  2023-04-15 05:42:53.436574   Saturday                6
5  2023-04-14 05:42:53.436574     Friday                5
6  2023-04-13 05:42:53.436574   Thursday                4
7  2023-04-12 05:42:53.436574  Wednesday                3
8  2023-04-11 05:42:53.436574    Tuesday                2
9  2023-04-10 05:42:53.436574     Monday                1
10 2023-04-09 05:42:53.436574     Sunday                7
11 2023-04-08 05:42:53.436574   Saturday                6
12 2023-04-07 05:42:53.436574     Friday                5
13 2023-04-06 05:42:53.436574   Thursday                4
14 2023-04-05 05:42:53.436574  Wednesday                3

# Count or frequency encoding

In [27]:
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data' , header = None,index_col=None)
train_set.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [29]:
len(train_set[1].unique())

9

In [30]:
columns=[1,3,5,6,7,8,9,13]

In [31]:
train_set=train_set[columns]

In [32]:
train_set.columns=['Employment','Degree','Status','Designation','family_job','Race','Sex','Country']

In [33]:
train_set

,Employment,Degree,Status,Designation,family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba
...,...,...,...,...,...,...,...,...
32556,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States
32557,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States
32558,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States
32559,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States
32560,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States

In [34]:
for feature in train_set.columns[:]:
    print(feature,":",len(train_set[feature].unique()),'labels')

Employment : 9 labels
Degree : 16 labels
Status : 7 labels
Designation : 15 labels
family_job : 6 labels
Race : 5 labels
Sex : 2 labels
Country : 42 labels

In [37]:
country_map=train_set['Country'].value_counts().to_dict()

In [38]:
train_set['Country']=train_set['Country'].map(country_map)
train_set.head(20)

,Employment,Degree,Status,Designation,family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,29170
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,29170
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,29170
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,95
...,...,...,...,...,...,...,...,...
15,Private,7th-8th,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,643
16,Self-emp-not-inc,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,29170
17,Private,HS-grad,Never-married,Machine-op-inspct,Unmarried,White,Male,29170
18,Private,11th,Married-civ-spouse,Sales,Husband,White,Male,29170
19,Self-emp-not-inc,Masters,Divorced,Exec-managerial,Unmarried,White,Female,29170

### Advantages
Easy To Use
Not increasing feature space
### Disadvantages
It will provide same weight if the frequencies are same

# Target Guided Ordinal Encoding
1. Ordering the labels according to the target
2. Replace the labels by the joint probability of being 1 or 0

In [39]:
import pandas as pd
df=pd.read_csv('titanic.csv', usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [40]:
df['Cabin'].fillna('Missing',inplace=True)

In [41]:
df['Cabin']=df['Cabin'].astype(str).str[0]

In [42]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [43]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [44]:
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [45]:
df.groupby(['Cabin'])['Survived'].mean().sort_values()

Cabin
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

In [46]:
df.groupby(['Cabin'])['Survived'].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [47]:
ordinal_labels=df.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [48]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [49]:
df['Cabin_ordinal_labels']=df['Cabin'].map(ordinal_labels2)
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

# Mean Encoding

In [51]:
mean_ordinal=df.groupby(['Cabin'])['Survived'].mean().to_dict()
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [52]:
df['mean_ordinal_encode']=df['Cabin'].map(mean_ordinal)
df.head()

   Survived Cabin  Cabin_ordinal_labels  mean_ordinal_encode
0         0     M                     1             0.299854
1         1     C                     4             0.593220
2         1     M                     1             0.299854
3         1     C                     4             0.593220
4         0     M                     1             0.299854

# Probability encoding

#### Probability Ratio Encoding
1. Probability of Survived based on Cabin--- Categorical Feature
2. Probability of Not Survived---1-pr(Survived)
3. pr(Survived)/pr(Not Survived)
4. Dictonary to map cabin with probability
5. replace with the categorical feature

In [53]:
df=pd.read_csv('titanic.csv',usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [58]:
df['Cabin'].fillna('Missing',inplace=True)
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [59]:
df.head(20)

    Survived    Cabin
0          0  Missing
1          1      C85
2          1  Missing
3          1     C123
4          0  Missing
5          0  Missing
6          0      E46
7          0  Missing
8          1  Missing
9          1  Missing
10         1       G6
11         1     C103
12         0  Missing
13         0  Missing
14         0  Missing
15         1  Missing
16         0  Missing
17         1  Missing
18         0  Missing
19         1  Missing

In [60]:
df['Cabin'].unique()

array(['Missing', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [61]:
df['Cabin']=df['Cabin'].astype(str).str[0]

In [62]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [63]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [64]:
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [65]:
prob_df=df.groupby(['Cabin'])['Survived'].mean()

In [66]:
prob_df=pd.DataFrame(prob_df)

In [67]:
prob_df

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [68]:
prob_df['died']=1-prob_df['Survived']

In [69]:
prob_df

       Survived      died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000
F      0.615385  0.384615
G      0.500000  0.500000
M      0.299854  0.700146
T      0.000000  1.000000

In [70]:
prob_df['Probability_ratio']=prob_df['Survived']/prob_df['died']

In [71]:
prob_df

       Survived      died  Probability_ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000
F      0.615385  0.384615           1.600000
G      0.500000  0.500000           1.000000
M      0.299854  0.700146           0.428274
T      0.000000  1.000000           0.000000

In [73]:
probability_encoded=prob_df['Probability_ratio'].to_dict()

In [74]:
df['Cabin_encoded']=df['Cabin'].map(probability_encoded)

In [76]:
df.head(10)

   Survived Cabin  Cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274
5         0     M       0.428274
6         0     E       3.000000
7         0     M       0.428274
8         1     M       0.428274
9         1     M       0.428274